---
interface Props {
    hidden?: boolean;
}
const { hidden = false } = Astro.props;
if (hidden) {
    return;
}
---

<style>
    dl {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        font-size: 20px;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    dt {
        font-weight: bold;
    }
    dd {
        margin: 0;
    }
    @media print {
        dl {
            font-size: 14px;
        }
    }
</style>

<hr />

<dl>
    <dt>Email</dt>
    <dd>mykola.xxxxx@gmail.com</dd>

    <dt>Phone</dt>
    <dd>+316xxxxxxxx</dd>
</dl>

<dl>
    <dt>Home</dt>
    <dd>Amsterdam</dd>

    <dt>Nationality</dt>
    <dd>NL</dd>

    <dt>More</dt>
    <dd><a href="https://mgurov.github.io">https://mgurov.github.io</a></dd>
</dl>
