---
interface Props {
    hidden?: boolean;
}
const { hidden = false } = Astro.props;
if (hidden) {
    return;
}
---

<style>
    dl {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0.5rem 1rem;
        font-size: 18px;
    }
    @media print {
        dl {
            font-size: 12px;
        }
    }

    dt {
        font-weight: bold;
    }
    dd {
        margin: 0;
    }
</style>

<hr />

<dl>
    <dt>Education</dt>
    <dd>
        MS Social Informatics Taras Shevchenko National University of Kyiv,
        Faculty of Cybernetics, 1996-2002
    </dd>

    <dt>Languages</dt>
    <dd>EN · DE (B1-) · NL (B2+) · UA</dd>

    <dt>Email</dt>
    <dd>mxxx.xxxv@gmail.com</dd>

    <dt>
        Mobile · WhatsApp · Signal
    </dt>
    <dd>+31xxxxxxx33</dd>

    <dt>Nationality</dt>
    <dd>NL</dd>

    <dt>More info</dt>
    <dd><a href="https://mgurov.github.io">https://mgurov.github.io</a></dd>

</dl>
