---
interface Props {
    hidden?: boolean;
}
const {hidden = false} = Astro.props;
if (hidden) {
    return;
}
---

<style>
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        margin-bottom: 0.5rem;
    }
    li.explanation {
        margin-left: 0.5rem;
        color: gray;
        font-size: 0.8em;
    }
</style>

<hr />

<h5>Highlights</h5>


<ul>
    <li>Improves teams</li>
    <li class="explanation">By fostering empathic collaboration and improving the communication with users and stakeholders</li>
    <li>Thorough meaningful automated testing</li>
    <li class="explanation">Make test work for us, not against us</li>
    <li>Continuous delivery with speed and quality</li>
    <li class="explanation">Move fast and reliably, no breaking many things</li>
    <li>Distributed consistency and resilience</li>
    <li>Universalist. With deep focus</li>
    <li>Loves legacy</li>
    <li class="explanation">One just has to know how to cook this matured dish</li>
    <li>Public speaker</li>
    <li class="explanation">Not naturally born, but authentic and engaging</li>
</ul>
