---
import Layout from '../layouts/GenericPost.astro';
---

<Layout
	title="Mykola Gurov"
	summary="Mykola Gurov"
	heroImage="/me-sunshiny.png"
>
	<p>Happily based on <a href="https://astro.build/">Astro</a> blog starter template.</p>
</Layout>
