---
import Layout from '../layouts/GenericPost.astro';
---

<Layout
	title="Mykola Gurov"
	summary="Mykola Gurov"
	heroImage="/src/assets/me-sun-progressive.jpg"
>
	<p>Happily based on <a href="https://astro.build/">Astro</a> blog starter template.</p>
</Layout>
